<footer class="bg-body-tertiary text-center">
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2024 Copyright:
		<a class="text-body" href="https://github.com/lea-nova">Léa</a>
		<a class="text-body" href="https://github.com/sikourix">Farid</a>
		<a class="text-body" href="https://github.com/SuperClodo">Stephane</a>
		<a class="text-body" href="https://github.com/jsena21">Jordan</a>
	</div>
</footer>
